<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- for create a account -->

    <div class="container" id="container">

        <div class="form-container sign-up-container">
            <form action="/account" method="post">
                <h1>Create Account</h1>
                <span>or use your email for registration</span>
                <div class="infield">
                    <input type="text" name="name" placeholder="User name" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="number" name="number" placeholder="Number" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="email" name="email" placeholder="Email" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" name="password" placeholder="Password" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" name="cpassword" placeholder="CPassword" />
                    <label></label>
                </div>
                <button>Sign Up</button>
            </form>
        </div>

        <!-- for sign in the account -->

        <div class="form-container sign-in-container">
            <form method="post" action="/login">
                <h1>Sign in</h1>
                <span>or use your account</span>
                <div class="infield">
                    <input type="email" placeholder="Email" name="email"/>
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" placeholder="Password" name="password" />
                    <label></label>
                </div>
                    <a href="#" class="forgot">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container" id="overlayCon">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button>Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button>Sign Up</button>
                </div>
            </div>
            <button id="overlayBtn"></button>
        </div>
    </div>

    <!--  script for  the sign in or sign up slide -->
    <script>
        const container = document.getElementById('container');
        const overlaycon = document.getElementById('overlaycon');
        const overlayBtn = document.getElementById('overlayBtn');

        overlayBtn.addEventListener('click',()=>{
            container.classList.toggle('right-panel-active');

            overlayBtn.classList.remove('btnScaled');
            window.requestAnimationFrame(()=>{
                overlayBtn.classList.add('btnScaled');
            })
        })

    </script>
    
</body>
</html>