<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <img src="views/h.jpg">
            <nav>
                <!-- this the main home page -->
                <ul id="menuItem">  
                    <li><a href="#">Home</a></li>
                    <li><a href="/add_user">New Student</a></li>
                    <li><a href="/dashbord">Student List</a></li>
                    <li><a href="/interview">New Interview</a></li>
                    <li><a href="/interviewlist">Interview List</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/logout">Logout</a></li>

                </ul>
            </nav>
        </div>
    </div>
</body>
</html>